.product{
    display: flex;
    border-bottom: 1px solid lightgreen;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-bottom:5px ;
   
}
.product-name{
    color:navy;
    font-weight: 400;
}
.add-to-cart{
    width: 150px;
    height: 30px;
    background-color:lightseagreen;
    border: 1.5px solid green;
    border-radius: 5px;
    color: honeydew;
    font-weight: bold;

}